code {
    color: #1a84a5 !important;
}

pre code {
    color: black !important;
}

blockquote {
    background-color: #e7f5f0;
    border-top: 2px solid  #aed3c6;
    border-bottom: 2px solid #aed3c6;
    padding: 15px 10px 0px;
    margin-right: 30px;
    border-radius: 5px;
}

#warning {
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.25em;
    background-color: #f37e7e;
    border: 2px solid  #a34141;
    padding: 15px;
    border-radius: 0;
    width: 100%;
    margin: 15px 0;
}
