blockquote {
    background-color: #f8bbd0; /* Couleur rose pâle */
    border-left: 5px solid #ec407a; /* Bordure gauche rose plus foncée */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-style: italic;
}

blockquote code {
    background-color: #f5f5f5; /* Fond gris clair pour le code */
    color: #d32f2f; /* Couleur rouge pour le texte du code */
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 0.9em;
    font-family: Consolas, 'Courier New', monospace;
}