blockquote {
    background-color:   #fad8e2  ; /* Couleur rose pâle */
    border: 10px solid #ec407a; /* Bordure gauche rose plus foncée */
    padding: 10px;
    border-radius: 5px;
    font-style: italic;
}
